<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="description"
        content="This is an example of a meta decription. This will often show up in search results.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->


    <link rel="stylesheet" href="{%static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/easy-autocomplete.min.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/easy-autocomplete.themes.min.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/jquery.dataTables.min.css' %}">

    <link rel="stylesheet" href="{%static 'assets/css/style.css' %}">


</head>

<body>

    <div class="inline space_between width100 vcenter bdShadow" id="header">
        <div class="inline vcenter">
            <div class="vcenter hcenter bgGray" id="menuBtn" role="button">
                <img class="" id="menuImg" src="{%static 'assets/src/menu.png' %}" alt="menu">
            </div>
            <div>
                <a href="/index">
                    <img class="" id="logo_img" src="{%static 'assets/src/home-icon.png' %}" alt="Logo">
                </a>
            </div>
            <div class="title" id="pharmacy_name">
                <p>享藥健康藥局</p>
            </div>
        </div>
        <!-- <li class="login sign nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <p style="display: inline">Hello,{{User.EmpName}} ({{User.EmpworkGrp}} , TMC-MFG)</p>
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="logout">Sign out</a>
            </div>
        </li> -->
        <div>
            <div class="dropdown">
                <!-- <img class="dpShadow" id="box_img" src="{%static 'assets/src/toolBox.png' %}" alt="toolBox"> -->
                <div class="vcenter hcenter bgGray" id="toolBoxBtn" role="button">
                    <img class="" id="box_img" src="{%static 'assets/src/toolBox.png' %}" alt="toolBox">
                </div>


                <div class="" id="toolBoxMenu">
                    <div class="bgGray toolBoxOption inline vcenter">
                        <img class="optionICon" id="setting_img" src="{%static 'assets/src/setting.png' %}"
                            alt="setting">
                        <a href="/logout">設定</a>
                    </div>
                    <div class="bgGray toolBoxOption inline vcenter">
                        <img class="optionICon" id="logout_img" src="{%static 'assets/src/logout.png' %}" alt="Logout">
                        <a href="/logout">登出</a>
                    </div>
                </div>
            </div>


            <!-- <a href="/index">
                    <img class="dpShadow" class="dropdown-menu" aria-labelledby="navbarDropdown" id="box_img" src="{%static 'assets/src/toolBox.png' %}" alt="toolBox">
                </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="logout">Sign out</a>
                
                
            </div> -->

        </div>
    </div>

    <div class="inline width100" id="container">
        <div class="" id="l_col">
            <a href="/keyInfo">
                <button class="lRow bgGray width100 inline vcenter l_colBtn {% block keyInfo%}{% endblock %}"
                    id="keyInfoBtn">
                    <img class="lRowIcon" id="" src="{%static 'assets/src/key_info.png' %}" alt="search">
                    <p>資訊概覽</p>
                </button>
            </a>
            <a href="/search">
                <button class="lRow bgGray width100 inline vcenter l_colBtn {% block search%}{% endblock %}"
                    id="searchBtn">
                    <img class="lRowIcon" id="" src="{%static 'assets/src/search.png' %}" alt="search">
                    <p>藥單查詢</p>
                </button>
            </a>
            <a href="/make">
                <button class="lRow bgGray width100 inline vcenter l_colBtn {% block make%}{% endblock %}" id="makeBtn">
                    <img class="lRowIcon" id="" src="{%static 'assets/src/write.png' %}" alt="write">
                    <p>開立藥單</p>
                </button>
            </a>
            <a href="/newUser">
                <button class="lRow bgGray width100 inline vcenter l_colBtn {% block newUser%}{% endblock %}"
                    id="makeBtn">
                    <img class="lRowIcon" id="" src="{%static 'assets/src/new-user.png' %}" alt="write">
                    <p>新增客戶</p>
                </button>
            </a>
            <a href="/newMed">
                <button class="lRow bgGray width100 inline vcenter l_colBtn" id="makeBtn">
                    <img class="lRowIcon" id="" src="{%static 'assets/src/medicine.png' %}" alt="write">
                    <p>新增藥品</p>
                </button>
            </a>
        </div>
        <div id="r_col" class="">
            {% block modePG %}
            {% endblock %}
            {% block rightPG %}
            {% endblock %}
        </div>
    </div>
    <script src="{%static 'assets/js/jquery-3.4.1.min.js' %}">
    </script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous">
        </script>
    <script src="{%static 'assets/js/comboTreePlugin.js' %}"></script>
    <script src="{%static 'assets/js/icontains.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
    <script src="{%static 'assets/js/main.js' %}"></script>
    <script src="{%static 'assets/js/jquery.dataTables.min.js' %}"></script>
    <script src="{%static 'assets/js/icontains.js' %}" type="text/javascript"></script>
    <script src="{%static 'assets/js/comboTreePlugin.js' %}" type="text/javascript"></script>
    {%block js%}{%endblock%}
</body>


</html>