{% extends 'base.html' %} {% load static %}
{% block search%}
active
{% endblock %}
{% block modePG %}
{% endblock %}
{% block rightPG %}
<div class="width100" id="modeWindow">

    <table id="myDatatable" class="display Datatable">
        <thead>
            <!-- 必填 -->

            <tr>
                <th>狀態</th>
                <th>單號</th>
                <th>姓名</th>
                <th>ID</th>
                <th>開單日</th>
                <th>領藥日</th>
                <th>功能</th>
                <th>備註</th>
            </tr>
        </thead>
        <tbody>
            {% for post in post_list %}
            <!-- <tr class="medi-inputDiv" id="med_1" onclick="gotoPost('{{post.id}}')"> -->
            <tr>
                <td>
                    <button class="mark take_mark" type="button">領</button>
                    <button class="mark keep_mark" type="button">留</button>
                    <button class="mark book_mark" type="button">預</button>
                    <button class="mark delay_mark" type="button">逾</button>
                    <button class="mark prepare_mark" type="button">包</button>
                </td>
                <td type="button" onclick="gotoPost('{{post.id}}')">{{post.id}}</td>
                <td type="button" onclick="gotoPost('{{post.id}}')">{{post.PatientID.Name}}</td>
                <td type="button" onclick="gotoPost('{{post.id}}')">{{post.PatientID.cardID}}</td>
                <td type="button" onclick="gotoPost('{{post.id}}')">{{post.CreateDate}}</td>
                <td type="button" onclick="gotoPost('{{post.id}}')">{{post.TakeMedDate}}</td>
                <td class="tdFun">
                    <button class="dtFunBtn bgGray delayBtn hcenter" type="button">
                        <img class="editImg dtFunImg" id="" src="{% static '/assets/src/remind.png' %}" alt="delay">
                        <span class="hint">待處理</span>
                        <!-- <span class="delaySet"> -->

                        </span>
                    </button>

                    <button class="dtFunBtn bgGray delBtn hcenter" type="button">
                        <img class="delImg dtFunImg " id="" src="{% static '/assets/src/delete.png' %}" alt="del">
                        <span class="hint">刪除</span>
                    </button>
                </td>
                <td type="button" onclick="gotoPost('{{post.id}}')">

                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>


{% endblock %}