* {
    font-family: Microsoft JhengHei;
    font-weight: 900;
}

input {
    font-size: 1rem;
}

#box_img {
    width: 30px;
    margin: 0 20px;
}

#logo_img {
    width: 60px;
    margin-left: 15px;
}
#pharmacy_name{
    margin: 0 20px;
    height: 80px;
}
.title {
    font-size: 1.5rem;
}

#header {
    background-color: white;
    height: 70px;
    z-index: 3;
    position: fixed;
}

body,
html {
    height: 100%;
    margin: 0;
}

#container {
    position: relative;
    top: 80px;
    bottom: 0px;
}

.l_colBtn p {
    margin: 7px;
}

#r_col,
#l_col {}

#l_col {
    /* background-color: bisque; */
    position: fixed;
    width: 15%;
    margin-right: 5%;
    padding: 0 5px;
}
a{
    text-decoration:none;
}
#r_col {
    /* background-color: rgb(246, 255, 196); */
    position: relative;
    left: 20%;
    width: 80%;
    display: none;
}

.lRowIcon {
    width: 20px;
    height: 20px;
    margin: 0 15px;
}

.lRow {
    margin: 10px 0 0 0;
    border-radius: 20px;
    background-color: white;
    border: 0;
    font-size: 1rem;
    
}

.modeBtn {
    background-color: white;
    border: 0;
}

.modeRowChild {
    margin: 20px 0;
}

.enterBtn {
    border-radius: 5px;
    background-color: rgb(50, 104, 255);
    border: 0;
    box-shadow: 0px 0px 2px rgb(151, 151, 151);
    color: white;
}

.newUserDiv {
    margin: 10px 0;
}

.newUserSec input {}

#sickBtn {
    width: 60px;
    height: 30px;
}

#infoRow p {
    margin-right: 20px;
}

#searchDiv {
    height: 41px;
}

#searchDiv {
    position: relative;
    width: 80%;
    border: 0;
    margin: 5px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

#searchDiv div {
    position: absolute;
    right: 0px;
    left: 60px;
}

#clientNameInput {
    width: 98%;
    height: 35px;
    border: 0;
    margin: 0;
    background-color: rgb(240, 240, 240);
}

.newUserSec input {
    border: 0;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

#modeChoose {
    height: 80px;
}

.modeIcon {
    width: 20px;
    height: 20px;
    margin: 0 30px 0 20px;
}

.newInput {
    width: 150px;
    margin: 5px;
}



.newCol1 {
    width: 20%;
}

.newCol2 {
    width: 15%;
}

.newCol3 {
    width: 15%;
}

.newCol4 {
    width: 10%;
}

.newCol5 {
    width: 20%;
}

.newCol6 {
    width: 10%;
}

.newInput2 {
    width: 80%;
}

#l_col .active {
    background-color: rgba(50, 105, 255, 0.425);
    color: white;
    text-shadow: 0.5px 0.5px black;
}

#modeChoose .active {
    border-bottom: 5px rgb(50, 104, 255) solid;
}

.newInputRow {
    margin: 10px 0;
}

.newUserSec input:focus,
#clientNameInput:focus {
    background-color: rgb(255, 255, 255);
}

#clientNameBtn {
    background-color: rgb(240, 240, 240);
    border: 0;
}

.dateInput {
    border: 0;
}

/* datatable */
.mark {
    width: 20px;
    height: 20px;
    padding: 0px;
    color: rgb(160, 160, 160);
    /* background-color: white; */
    border: 0;
    border-radius: 4px;
    /* border-radius: 5px; */
    /* border: 1px solid rgb(224, 224, 224); */
}



.mark:hover {
    background: url(../src/star2.png);
}

#myDatatables_wrapper {
    left: 1em;
    right: 1em;
    margin-left: 0;
    width: auto;
}

#myDatatable_wrapper {
    margin-top: 20px;
}

#myDatatable_wrapper .dtFunBtn {
    display: none;
}

#myDatatable_wrapper tr:hover .dtFunBtn {
    display: inline-block;
}

#myDatatable_wrapper input,
#myDatatable_wrapper select,
#myDatatable_wrapper .current {
    border-radius: 5px;
    border: 0;
    background-color: rgb(240, 240, 240);
}

#myDatatable_wrapper input:focus,
#myDatatable_wrapper select:focus {
    background-color: white;
}

.dtFunImg {
    width: 20px;
    height: 20px;
}

.dtFunBtn {
    background-color: rgba(240, 240, 240, 0);
    border: 0;
}

.newUserSec {
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
}

.newDiv {
    width: 90%;
    height: 80px;
}

.newP {
    width: 100px;
}

.newP {}

/* multi select */
.col-lg-6 {
    padding: 0;
    margin: 0;
    width: 70%;
}

/*date*/
[type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.date {
    border: none;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 190px;
}

/*autocomplete*/
.ui-menu-item {
    background: white;
    width: 30%;
    list-style-type: none;
}

#ui-id-1 {
    /* max-width: 500px; */


}

.ui-menu-item:hover {
    background: rgb(224, 224, 224);
    cursor: pointer;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid rgb(224, 224, 224);
    background: rgb(224, 224, 224);
    font-weight: normal;
    color: black;

}

.ui-helper-hidden-accessible {
    display: none;
}

.ui-menu li {
    box-shadow: 0px 0px 1px rgb(226, 225, 225);
}

/* tool */
.bdShadow {
    box-shadow: 0px 1px 0px rgb(226, 225, 225);
}

.dtFunImg:hover,
.dpShadow:hover {
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
}

.bxShadow:hover {
    cursor: pointer;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
}

.bgGray:hover {
    cursor: pointer;
    background-color: rgba(218, 218, 218, 0.575);
    /* background-color: rgba(207, 250, 199, 0.575); */
}

.blueShadow:hover {
    box-shadow: 0px 0px 7px rgb(128, 162, 255);
}

.height100 {
    height: 100%;
    ;
}

.width100 {
    width: 100%;
}

.width50 {
    width: 50%;
}
.width20 {
    width: 20%;
}
.width25 {
    width: 25%;
}
.width80 {
    width: 80%;
}
.vcenter {
    display: flex;
    align-items: center;
}

.hcenter {
    display: flex;
    justify-content: center;
}

.nowrap {
    flex-wrap: nowrap;
}

.tcenter {
    text-align: center;
}

.inline {
    display: inline-flex;
}

.flex {
    display: flex;
}

.space_between {
    justify-content: space-between;
}

.space_around {
    justify-content: space-around;
}

.downLine {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(202, 202, 202);
}

/*wun*/
.takeFreRow {
    height: 50px
}

.takeFre {
    position: absolute;
    right: 36px;
}

.newInput1 {
    width: 30px;
    margin: 5px;
}



.Inputdate {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 190px;
}
/* keyInfo */
.sec_title p,
.asi_title p{
    margin: 16px 10px 0 0;
}
#aside{
    position: relative;
}
.asi_content {
    position : fixed;
    float: left;
    margin: 0 0 0 10px;
    color: rgb(160, 160, 160);
}
.index:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.sec_content{
    margin: 10px 10px 0 0;
}
.gray_border{
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    padding: 10px;
}
#num_remind{
    color: rgb(117,157,190);
}
#myDatatable .active {
    color: white;
}
.keep_mark.active {
    background-color: rgb(66,133,244);
}
.book_mark.active {
    background-color: rgb(66,133,244);
}
.take_mark.active {
    background-color: rgb(52,168,83);
}
.delay_mark.active {
    background-color: rgb(234,67,53);
}
.prepare_mark.active {
    background-color: rgb(251,188,5);
}
.mark:hover{
    cursor: pointer;
}